#songs
  %table.table
    %tr
      %th
      %th Song
      %th
      %th

    - @songs.each do |song|
      %tr[song]
        %td= link_to image_tag(song.youtube_thumb, border: 0), song.youtube_link,
                'data-toggle' => :modal,
                'data-target' => "#modal_#{song.id}"
        %td= song.song_text
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)

= render partial: 'songs/song_modal', collection: @songs
