#song
  .defdiv
    = render partial: 'songs/video', locals: { song: @song }
  .row
    .col-md-6.col-md-offset-3
      .defdiv.setlist
        %h2{ style: 'border-bottom: 1px solid #999' }
          Played #{@song.play_count} times.
        - @song.plays.each do |play|
          %div[play]{ class: cycle(:even_row, :odd_row) }
            .row
              .col-md-12
                = play.nick
                played this at
                = play.time.strftime('%R')
                as part of the
                = link_to play.setlist.title, play.setlist
                set.
