<!DOCTYPE html>
%html{ 'xml:lang' => :en, lang: :en, xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title Radiomega
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: :all,
                          'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{  type: :button, 'data-toggle' => :collapse,
                                  'data-target' => '#navbar-collapse' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Radi&#937;'.html_safe,
                    :root, :class => 'navbar-brand'
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Songs', songs_path
            %li= link_to 'Plays', plays_path
            %li= link_to 'Setlists', setlists_path
          %ul.nav.navbar-nav.pull-right
            %li
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, method: :delete
              - else
                = link_to 'Login', new_user_session_path

    .main.container{ id: [params[:controller], '_', params[:action]].join }
      - if notice.present?
        %div.alert.alert-warning= notice
      - if alert.present?
        %div.alert.alert-danger= alert
      = yield
